<div class="w-6/12 mx-auto flex flex-row justify-center">
    <ul class="flex flex-col md:flex-row justify-center md:justify-between mb-6 md:mb-1 space-y-6 md:space-y-0 md:min-w-80 md:space-x-4">
        <li class="w-56">
            <a routerLink="/sign-up" class="text-red-600 hover:underline">Registro</a>
        </li>
        <li class="w-56">
            <a routerLink="/forgot-password" class="text-red-600 hover:underline">¿Olvidó su contraseña?</a>
        </li>
        <li class="w-56">
            <a routerLink="/unlock-session" class="text-red-600 hover:underline">Desbloquear usuario</a>
        </li>
        <li class="w-56">
            <a routerLink="/" class="text-red-600 hover:underline">Transfer365 CA-RD</a>
        </li>
    </ul>
</div>
